body{
	font-family: Arial;
	text-align: center;
}
table{
	border:2px solid black;
	width: 80%;
	height: 300px;
	margin: auto;
	background: black;
	line-height: 10px;
}
tr, th{
	padding: 10px;
	border:1px solid black;
	background: #919e8c;
}
input {
	width: 150px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	border:2px solid black;
}