body {
  font-family: Arial;
}
table{
  table-layout: auto;
  border: 2px solid black;
  margin: auto;
  width: 700px; 
  height: 500px;
  padding: 10px;   
}
tr,td {
  border: 1px solid black;
  font-size: 50px;
}
tr {
  border:1px solid black;
}
.input{
  height: 40px;
  font: Calibri;
  font-size: 20px;
		}
div{
  text-align: center;
}