body {
  font-family: Arial;
  background-image: linear-gradient(to left,#e0e2e5, #c9d4e5);
  background-attachment: fixed;
  background-size: 100%;
}
table{
  table-layout: auto;
  border: 2px solid black;
  margin: auto;
  width: 700px; 
  height: 500px;
  padding: 10px;
  background:#272828  
}
tr,td, th {
  border: 1px solid black;
  font-size: 20px;
  background: #919e8c;
}
tr {
  border:1px solid black;
}
.input{
  text-align: center;
  width: 100px;
  height: 30px;
  font: Calibri;
  font-size: 16px;
  border:1px solid black;
}
div{
  text-align: center;
}
#botao{
  margin:auto;
  width: 80px;
  height: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #41ccc5 ;
}
#botao:hover{
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: #41ccc5;
}